@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #00308F;
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
}

.Link {
    text-decoration: none;
}