#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.Comp{
  display: block;
  padding: 0.5rem;
}
.Heading{
  background-color: antiquewhite;
  color: black;
}
.Error{
  color: red;
  display: flex;
  flex-direction: column;
}