#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
.Heading{
  background-color: blanchedalmond;
  color: black;
}
.All{
  background-color: beige;
  width: 450px;
}

.withValidation{
  display: block;
  text-align: start;
  font-size: larger;
  padding: 5px;
}
.Input{
  border: 2px solid black;
  text-align: center;
  padding: 2px;
  font-family: monospace;
  min-width: max-content;
}
.Label{
  padding-right: 10px;
}
.Error{
  color: red;
  font-size: large;
  text-align: start;
  text-wrap: wrap;
}
.Button{
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: aquamarine;
  text-align: center;
  font-size: large;
}